.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}


.NavBar {
  background-color: #222;
  color: white;
  font-size: large;

  display: flex;
}
.NavBar img {
  margin: 8px 16px 0;
}
.NavBar div {
  flex: 1;
  display: flex;
}
.NavBar span {
  margin: auto;
  font-size: 36px;
}


.Body {
  flex: 1;
  width: 80%;
  margin: auto;
}
.Body article {
  border: 1px solid black;
  margin-top: 8px;
}
.Body-title span {
  margin: auto;
  font-size: 24px;
}


.Footer {
  height: 64px;
  background: whitesmoke;
  display: flex;
}
.Footer section {
  display: flex;
}
.Footer-copyright {
  flex: 1;
}
.Footer-links {
  margin: 8px;
}

.Footer section span {
  margin: auto;
}

.Footer-github {
  margin: auto;
  width: 48px;
  height: 48px;
}
